<!--
	
<div class="login-bg" ng-show="showing1">
    <div class="container">
        <div class="form-wrapper">
        <form class="form-signin wow fadeInUp" action="index.html">
        
        <div class="login-wrap">
            <input type="text" class="form-control" ng-model="login" placeholder="Pseudo" autofocus>
            <input type="password" class="form-control" ng-model="pwd" placeholder="mot de passe">
        <button class="btn btn-lg btn-login btn-block" ng-click="change();" type="button">Se connecter</button>
        </div>
      </form>
      </div>
    </div>
</div>
-->
 
<!--container end-->
<div>

</div>
<div class="support">
<div class="container">
    <img src="assets\images\favicon.ico" alt="loro">
    <h5>Bienvenue</h5>
    <form>
        <label>Username</label>
        <input type="text" placeholder="Username">
        <label>Password</label>
        <input type="password" placeholder="password">
        <button><span>Connexion</span></button>
    </form>
    <a routerLink="/contact" >Forgot Password?</a>
</div>
</div>
<!--container end-->