<!--start of head-sectoin -->
<section class="join text-center">
  <div class="shadow">
   <div class="container" >
     <h1 class="text-center">Demandez votre systeme de tarcking et suivez en temps reel vos véhicules </h1>
     <div class="scroll-down"></div>
   </div>
 </div>
</section>
<!--end of head-sectoin-->


<section class="secteurs-section" id="secteurs">
  <div class="container">
   
      <div class="row text-center">
          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 animated wow zoomIn"  >
              <h4 class="my-3">Construction et travaux divers</h4>
              <p class="text-center">Notre objectif est de construire, 
                rénover et/ou aménager les abords de votre maison, 
                immeuble ou surface industrielle, 
                dans les meilleures conditions afin d'obtenir un espace
                 de vie et/ou de travail fonctionnel, confortable et agréable.</p>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 animated wow zoomIn"  >
            <img src="assets/images/service1.PNG" alt=" photo metier1">
        </div>
      </div>

                       <!-------------------------------->
   <div class="row row2 text-center">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 animated wow zoomIn">
          <img src="assets/images/service2.PNG" alt=" photo metier1">
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 div1 animated wow zoomIn">
            <h4 class="my-3">Geolocalisation pour la location de voiture</h4>
            <p class="text-center">Notre objectif est de construire, 
              rénover et/ou aménager les abords de votre maison, 
              immeuble ou surface industrielle, 
              dans les meilleures conditions afin d'obtenir un espace
               de vie et/ou de travail fonctionnel, confortable et agréable.</p>
        </div>
      </div>
        

                         <!-------------------------------->
      <div class="row text-center">
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 animated wow zoomIn">
          <h4 class="my-3">Secteur de transport et de distribution</h4>
          <p class="text-center">Notre objectif est de construire, 
            rénover et/ou aménager les abords de votre maison, 
            immeuble ou surface industrielle, 
            dans les meilleures conditions afin d'obtenir un espace
             de vie et/ou de travail fonctionnel, confortable et agréable.</p>
      </div>
      <div class="col-md-6 col-md-6 col-sm-12 col-xs-12 animated wow zoomIn">
        <img src="assets/images/service3.PNG" alt=" photo metier1">
      </div>
    </div>
      
                               <!-------------------------------->
    <div class="row row2 text-center">
       <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 animate__animated animate__bounceInLeft"  style="animation-delay: 1s;">
        <img src="assets/images/service4.PNG" alt=" photo metier1">
      </div>
      <div class="ccol-lg-6 col-md-12 col-sm-12 col-xs-12 div1 animate__animated animate__bounceInRight"  style="animation-delay: 1s;">
          <h4 class="my-3 text-center">Geolocalisation pour moto de  </h4>
          <p class="text-center">Notre objectif est de construire, 
            rénover et/ou aménager les abords de votre maison, 
            immeuble ou surface industrielle, 
            dans les meilleures conditions afin d'obtenir un espace
             de vie et/ou de travail fonctionnel, confortable et agréable.</p>
      </div>
    </div>
     

                              <!-------------------------------->
     
    <div class="row text-center">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 animate__animated animate__bounceInLeft"  style="animation-delay: 1s;">
        <h4 class="my-3 text-center">Geolocalisation pour transport scolaire</h4>
        <p class="text-center">Notre objectif est de construire, 
          rénover et/ou aménager les abords de votre maison, 
          immeuble ou surface industrielle, 
          dans les meilleures conditions afin d'obtenir un espace
           de vie et/ou de travail fonctionnel, confortable et agréable.</p>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 animate__animated animate__bounceInRight"  style="animation-delay: 1s;">
      <img src="assets/images/service5.PNG" alt=" photo metier1">
    </div>
  </div>
  </div>
</section>