 <!--container start-->
<!--
 <div class="gray-box job">
    <div class="container">
      <div class="row">
        <div class="text-center feature-head">
          <h1>
           Votre métier
          </h1>
          <p>
            
          </p>
        </div>
        <div class="services">
          <div class="col-lg-6 col-sm-6">
            <div class="icon-wrap ico-bg round-five wow zoomIn" data-wow-duration="1.5s" data-wow-delay=".1s">
              <i class="fa fa-ambulance">
              </i>
            </div>
            <div class="content">
              <h3 class="title">
                Ambulance:
              </h3>
              <p>
                Répondez efficacement aux urgences et restez connecté en temps réel avec vos véhicules : 
              Position instantanée sur un tableau et une carte, réactivité face aux urgences,
               alertes entretiens et communication en temps réel avec les centres hospitaliers et la sécurité sociale.
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6">
            <div class="icon-wrap ico-bg round-five wow zoomIn" data-wow-duration="1.5s" data-wow-delay=".3s">
              <i class="fa  fa-home">
              </i>
            </div>
            <div class="content">
              <h3 class="title">
                Bâtiment:
              </h3>
              <p>
                Terminez vos chantiers en temps et en heure en utilisant la géolocalisation : 
               Connaissez en instantané la position de vos équipes et le fonctionnement de vos machines 
               de chantier à l'aide de notre solution de gestion de flotte. Suivez en temps réel l'avancée 
               de vos projets et respectez vos délais et fidélisez votre clientèle en leur donnant des réponses immédiates.
              </p>
            </div>
          </div>
        </div>
        <div class="services">
          <div class="col-lg-6 col-sm-6">
            <div class="icon-wrap ico-bg round-five wow zoomIn" data-wow-duration="1.5s" data-wow-delay=".5s">
              <i class="fa fa-male">
              </i>
            </div>
            <div class="content">
              <h3 class="title">
               Commercial:
              </h3>
              <p>
                Connaissez à tout moment la position de vos véhicules itinérants : 
               Réalisez des économies de carburant et de temps au jour le jour avec gestion 
               de flotte de véhicules d'entreprise avec des rapports automatiques des heures de trajets.
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6">
            <div class="icon-wrap ico-bg round-five wow zoomIn" data-wow-duration="1.5s" data-wow-delay=".7s">
              <i class="fa fa-wrench">
              </i>
            </div>
            <div class="content">
              <h3 class="title">
               Dépannage:
              </h3>
              <p>
                Garantissez un bon service aux clients :
              Recherchez le véhicule le plus proche d'un lieu d'intervention donné, 
              suivez l'activité des véhicules sur une carte et affichez l'historique des trajets sur un tableau.
              </p>
            </div>
          </div>
        </div>
        <div class="services">
          <div class="col-lg-6 col-sm-6">
            <div class="icon-wrap ico-bg round-five wow zoomIn" data-wow-duration="1.5s" data-wow-delay=".9s">
              <i class="fa fa-truck">
              </i>
            </div>
            <div class="content">
              <h3 class="title">
                Transport / Logistique:
              </h3>
              <p>
               Sécurisez vos chargements et optimisez vos temps de parcours : 
             Suivez en temps réel votre marchandise et connaissez les temps de conduites 
             de vos chauffeurs sans passer d'innombrables coups de téléphones, 
        immobilisez votre véhicule en cas de vol et suivez les heures de vos chauffeurs.
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6">
            <div class="icon-wrap ico-bg round-five wow zoomIn" data-wow-duration="1.5s" data-wow-delay="1.1s">
              <i class="fa fa-users">
              </i>
            </div>
            <div class="content">
              <h3 class="title">
               Transport de personnes:
              </h3>
              <p>
                Offrez à votre clientèle une qualité de service irréprochable : 
           Suivez vos véhicules en temps réel et optimisez vos déplacements en connaissant la position exacte de votre flotte.
            Avec la géolocalisation, vous pourrez répondre à vos clients en temps réel sur la position de leur chauffeur
             et en obtenir les informations nécessaires en cas de litige, rapidité d'exécution des réservations et gains du temps et d'énergie.
              </p>
            </div>
          </div>
        </div>
        <div class="services">
          <div class="col-lg-6 col-sm-6">
            <div class="icon-wrap ico-bg round-five wow zoomIn" data-wow-duration="1.5s" data-wow-delay=".9s">
              <i class="fa fa-bitbucket">
              </i>
            </div>
            <div class="content">
              <h3 class="title">
                Ramassage d'ordures:
              </h3>
              <p>
                Gérez les bacs et connaissez la position de vos camions d'ordures : 
Répertoriez les bacs ê décharger, visualisez les trajets parcourus par les camions et les bacs visités et non visités.
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6">
            <div class="icon-wrap ico-bg round-five wow zoomIn" data-wow-duration="1.5s" data-wow-delay="1.1s">
              <i class="fa fa-video-camera">
              </i>
            </div>
            <div class="content">
              <h3 class="title">
                Sécurité:
              </h3>
              <p>
                Suspendisse dignissim in sem eget pulvinar. Mauris aliquam nulla at libero pretium, eu tincidunt nulla molestie pulvinar posuere.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  -->
  <!--start of head-sectoin -->
<section class="join text-center">
  <div class="shadow">
   <div class="container" >
     <h1 class="text-center">Demandez votre systeme de tarcking et suivez en temps reel vos véhicules </h1>
     <div class="scroll-down"></div>
   </div>
 </div>
</section>
<!--end of head-sectoin-->

  

  <section class="secteurs-section" id="secteurs">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 animated wow zoomIn"  >
                <h4 class="my-3">Construction et travaux divers</h4>
                <p class="text-center">Notre objectif est de construire, 
                  rénover et/ou aménager les abords de votre maison, 
                  immeuble ou surface industrielle, 
                  dans les meilleures conditions afin d'obtenir un espace
                   de vie et/ou de travail fonctionnel, confortable et agréable.</p>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 animated wow zoomIn"  >
              <img src="assets/images/metier1.PNG" alt=" photo metier1">
          </div>
        </div>

                         <!-------------------------------->
     <div class="row row2 text-center">
          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 animated wow zoomIn">
            <img src="assets/images/metier2.PNG" alt=" photo metier1">
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 div1 animated wow zoomIn">
              <h4 class="my-3">Geolocalisation pour la location de voiture</h4>
              <p class="text-center">Notre objectif est de construire, 
                rénover et/ou aménager les abords de votre maison, 
                immeuble ou surface industrielle, 
                dans les meilleures conditions afin d'obtenir un espace
                 de vie et/ou de travail fonctionnel, confortable et agréable.</p>
          </div>
        </div>
          

                           <!-------------------------------->
        <div class="row text-center">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 animated wow zoomIn">
            <h4 class="my-3">Secteur de transport et de distribution</h4>
            <p class="text-center">Notre objectif est de construire, 
              rénover et/ou aménager les abords de votre maison, 
              immeuble ou surface industrielle, 
              dans les meilleures conditions afin d'obtenir un espace
               de vie et/ou de travail fonctionnel, confortable et agréable.</p>
        </div>
        <div class="col-md-6 col-md-6 col-sm-12 col-xs-12 animated wow zoomIn">
          <img src="assets/images/metier3.PNG" alt=" photo metier1">
        </div>
      </div>
        
                                 <!-------------------------------->
      <div class="row row2 text-center">
         <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 animate__animated animate__bounceInLeft"  style="animation-delay: 1s;">
          <img src="assets/images/metier4.PNG" alt=" photo metier1">
        </div>
        <div class="ccol-lg-6 col-md-12 col-sm-12 col-xs-12 div1 animate__animated animate__bounceInRight"  style="animation-delay: 1s;">
            <h4 class="my-3 text-center">Geolocalisation pour moto de  </h4>
            <p class="text-center">Notre objectif est de construire, 
              rénover et/ou aménager les abords de votre maison, 
              immeuble ou surface industrielle, 
              dans les meilleures conditions afin d'obtenir un espace
               de vie et/ou de travail fonctionnel, confortable et agréable.</p>
        </div>
      </div>
       

                                <!-------------------------------->
       
      <div class="row text-center">
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 animate__animated animate__bounceInLeft"  style="animation-delay: 1s;">
          <h4 class="my-3 text-center">Geolocalisation pour transport scolaire</h4>
          <p class="text-center">Notre objectif est de construire, 
            rénover et/ou aménager les abords de votre maison, 
            immeuble ou surface industrielle, 
            dans les meilleures conditions afin d'obtenir un espace
             de vie et/ou de travail fonctionnel, confortable et agréable.</p>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 animate__animated animate__bounceInRight"  style="animation-delay: 1s;">
        <img src="assets/images/metier5.PNG" alt=" photo metier1">
      </div>
    </div>
    </div>
  </section>



  