<!--container st
<div class="contact">
<div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-5 address">
        <section class="contact-infos">
          <h4 class="title custom-font text-black">
            Adresse
          </h4>
          <address title="adresse">
          Lotissement LINA N° 350, 4eme etage<br>sidi maarouf, Casablanca<br> Maroc
          </address>
        </section>
        <section class="contact-infos">
          <h4 class="title custom-font text-black">
            HEURES DE TRAVAIL
          </h4>
          <p>
            Lundi - Vendredi : 8h30min - 18h00min
            <br>
            Samedi : 9h - 12h
            <br>
            Dimanche : fermé
            <br>
          </p>
        </section>
        <section class="contact-infos">
          <h4>
            TELEPHONE
          </h4>
          <p>
            <i class="icon-phone">
            </i>
            +212-522-583358
          </p>

          <p>
            <i class="icon-phone">
            </i>
             +212-522-583454
          </p>

        </section>
      </div>
      <div class="col-lg-7 col-sm-7 address">
        <h4>
          ÉCRIVEZ-NOUS POUR QUE NOUS PUISSIONS VOUS ENTENDRE
        </h4>
        <div class="contact-form">
          <form role="form" method="post" action="/controllers/send.php">
            <div class="form-group">
              <label for="name">
                Nom
              </label>
              <input type="text" placeholder="nom" id="name" name="name" ng-model="name" class="form-control">
            </div>
            <div class="form-group">
              <label for="email">
                Email
              </label>
              <input type="text" placeholder="email" id="email" name="email" ng-model="email" class="form-control">
            </div>
            <div class="form-group">
              <label for="phone">
                Téléphone
              </label>
              <input type="text" id="phone" placeholder="téléphone" name="phone" ng-model="phone" class="form-control">
            </div>
            <div class="form-group">
              <label for="phone">
                Message
              </label>
              <textarea placeholder="" rows="5" ng-model="msg" name="msg" class="form-control">
              </textarea>
            </div>
            <button class="btn btn-info" name="send" type="submit">
              Envoyer
            </button>
          </form>

        </div>
      </div>
    </div>

  </div>
</div>
 
  <div class="contact-map">
    <div id="map-canvas" style="width: 100%; height: 400px">
    </div>
  </div>

  -->

<!--start contact-->
<section class="join text-center" id="sec-1">
  <div class="shadow">
   <div class="container" >
     <h1 class="text-center">Contacez-nous sur ces elements </h1>
     
       <div class="scroll-down"></div>
     
   </div>
 </div>
</section>
<!------------------------------------------->
<section id="sec-2">
<div class="contact">
  <div class="container">
    
    <div class="contactInfo">

      

      <div class="box">
        <div class="icon"><i class="fas fa-phone-alt"></i></div>
        <div class="text">
          <h3>Phone</h3>
          <p>+212-522-583358</p>
         </div>
      </div>

      <div class="box">
        <div class="icon"><i class="far fa-envelope"></i></div>
        <div class="text">
          <h3>Email</h3>
          <p>contact@rimtelecom.ma</p>
         </div>
      </div>

      <div class="box">
        <div class="icon"><i class="fas fa-map-marker-alt"></i></div>
        <div class="text">
          <h3>Address</h3>
          <p>sidi maarouf, Casablanca <br>Maroc</p>
         </div>
      </div>

    </div>

    <div class="contactForm">
      <form>
        <h2>Send Message</h2>
        <div class="inputBox">
          <input type="text" name="" required="required">
          <span>Full Name</span>
        </div>
        <div class="inputBox">
          <input type="text" name="" required="required">
          <span>Email</span>
        </div>
        <div class="inputBox">
          <textarea required="required"></textarea>
          <span>Message</span>
        </div>
        <div class="inputBox">
          <input type="submit" name="" value="Send">
        </div>
      </form>

    </div>
  </div>

</div>
</section>
<!--end contact-->