<!--start-upper-bar-->
<div class="upper-bar fixed-top ">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <i class="fa fa-phone-alt contact-item "></i>(212)522-583358, <i class="fas fa-envelope contact-item "></i>contact@rimtelecom.ma
      </div>
      <div class="social col-sm  d-none d-md-block ">
        <a href="https://www.facebook.com/rimtelecom.ma" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.linkedin.com/company/rimtelecom/about/" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/company/rimtelecom/about/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        <a href="https://www.linkedin.com/company/rimtelecom/about/" target="_blank"><i class="fab fa-youtube"></i></a>
        <a href="https://www.facebook.com/rimtelecom.ma" target="_blank"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
</div>
<!--end-upper-bar-->


<!--Start of navbar-->
<nav class="navbar  navbar-expand-lg navbar-light bg-light   fixed-top " >
  
  <a class="navbar-brand d-none d-sm-block" href="#"><img class="d-block w-100" src="assets\images\favicon.ico" alt="logo"></a>
  <a class="navbar-brand logo d-none d-sm-block" href="#"><span class="span1">Rim</span> <span class="span2">telecom</span></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Accueil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/geolocal" >Géolocalisation</a>
      </li>
      <!--
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Votre métier
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/job">transport</a>
          <a class="dropdown-item" routerLink="/test">test</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">logistique</a>
        </div>
      </li>
    -->
      <li class="nav-item">
        <a class="nav-link " routerLink="/job">Industries</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="/plateformes">Plateformes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="/support">Support</a>
      </li>
      <li class="nav-item">
        <a class="nav-link demo " style="color: #fff;" routerLink="/contact">Demo gratuit</a>
      </li>
    </ul>
    
  </div>
</nav>
<!--End of navbar-->

<router-outlet>

</router-outlet>
 <!--footer start-->
<!--
        <h1>
         Contact nous
        </h1>
        <address>
          <p><i class="fa fa-home pr-10"></i>Adresse: Lotissement Lina N° 350,</p>
          <p>Sidi maarouf, Casablanca, Maroc</p>
          <p><i class="fa fa-phone pr-10"></i>Phone : (212) 522-583358 </p>
          <p><i class="fa fa-phone pr-10"></i>Phone : (212) 522-583454 </p>
          <p><i class="fa fa-envelope pr-10"></i>Email :   <a href="javascript:;">contact@rimtelecom.ma</a></p>
        </address>
     
 -->
 <!--footer start-->
  <footer>
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-md-3 col-sm-6 col-xs-12 segment-one md-mb-30 sm-mb-30">
            <h3>RimTelecom</h3>
            <p>R.I.M Telecom est une société de service ayant 
              comme activité principale la 
              localisation et le développement des solutions mobiles.</p>
          </div>                                  
          <div class="col-md-3 col-sm-6 col-xs-12 segment-two md-mb-30 sm-mb-30">
            <h2>Links</h2>
           <ul>
             <li><a href=""></a>Accueil</li>
             <li><a href=""></a>Service</li>
             <li><a href=""></a>Metier</li>
             <li><a href=""></a>Support</li>
             <li><a href=""></a>Contact</li>
           </ul>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-12 segment-three sm-mb-30">
             <h2>Follow us</h2>
             <p>Please follow on our social media networks and get more
                information at all times and stay tuned</p>
                <a href="https://www.facebook.com/rimtelecom.ma" target="_blank"><i class="fab fa-facebook-f" ></i></a>
                <a href="https://www.linkedin.com/company/rimtelecom/about/"><i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/company/rimtelecom/about/"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://www.linkedin.com/company/rimtelecom/about/"><i class="fab fa-youtube"></i></a>      
          </div>
          
          <div class="col-md-3 col-sm-6 col-xs-12 segment-four sm-mb-30">
            <h2>Follow us</h2>
            <p>Please follow on our social media networks and get more
               information at all times and stay tuned</p>
              <form action="">
                <input type="email" >
                <input type="submit" value="subscribe" >
              </form>
         </div>

        </div>
      </div>
    </div>
  </footer>
  <p class="footer-bottom-text">Copyright © 2020 RimTelecom. Tous droits réservés.</p>
 <!--footer end-->

 

