
  
<section id="sec-1">
  <div class="container">
    <h1>Hello World</h1>
    <a href="#sec-2">
      <div class="scroll-down"></div>
    </a>
  </div>
</section>
<section id="sec-2">
  <div class="container">
    <h1>This is Sec 2</h1>
    <img src="assets\img\bluetr.png" alt="">
    <img src="assets\img\greentr.png" alt="">
    <img src="assets\img\scania.png" alt="">
    <img src="assets\img\bluetr.png" alt="">
    <img src="assets\img\bluetr.png" alt="">
    <img src="src\assets\img\bluetr.png" alt="">
    <img src="src\assets\img\bluetr.png" alt="">
  </div>
</section>
