<!--start of head-sectoin -->
<section class="join text-center">
    <div class="shadow">
     <div class="container" >
       <h1 class="text-center">NOS APPLICATIONS WEB & MOBILE </h1>
       <div class="scroll-down"></div>
     </div>
   </div>
  </section>
  <!--end of head-sectoin-->
  
  <section class="tools" id="secteurs">
    <div class="container">
     
        <div class="row ">
            <div class=" sub-row1 col-lg-6 col-md-12 col-sm-12 col-xs-12 animated wow zoomIn "  >
                <h4 class="my-3">APPLICATION WEB</h4>
                <p class="text-center">Notre objectif est de construire, 
                  rénover et/ou aménager les abords de votre maison, 
                  immeuble ou surface industrielle, 
                  dans les meilleures conditions afin d'obtenir un espace
                   de vie et/ou de travail fonctionnel, confortable et agréable.</p>
                   <button class="btn-web">Voir plus</button>
            </div>
                           <!-------------------------------->
     
            <div class=" sub-row2 col-lg-6 col-md-12 col-sm-12 col-xs-12 animated wow zoomIn"  >
              <img src="assets\images\webrim.PNG" alt=" photo metier1">
          </div>
                           <!-------------------------------->
     
                      
                  
                                           <!-------------------------------->    
       
        <div class="sub-row1 col-lg-6 col-md-12 col-sm-12 col-xs-12 animated wow zoomIn">
            <h4 class="my-3">APPLICATION MOBILE</h4>
            <p class="text-center">Notre objectif est de construire, 
              rénover et/ou aménager les abords de votre maison, 
              immeuble ou surface industrielle, 
              dans les meilleures conditions afin d'obtenir un espace
               de vie et/ou de travail fonctionnel, confortable et agréable.</p>
               <button class="btn-store"><img src="assets\images\appstore.png" ></button>
               <button class="btn-android"><img src="assets\images\googleplay.png" ></button>
              
        </div>
        <div class=" sub-row2 col-md-6 col-md-6 col-sm-12 col-xs-12 animated wow zoomIn">
          <img src="assets/images/mobilerimtrack.PNG" alt=" photo metier1">
        </div>
     
        
     
  
                                <!-------------------------------->
       
     </div>
    </div>
  </section>
