<!--Start of carousel-->
<div id="carouselExampleIndicators" class="carousel slide FirstCarousel" data-ride="carousel"  data-autoplay="true" data-interval="2000">
    
    <div class="carousel-inner ">
        
      <div class="carousel-item ">
        <div class="overlay-item"></div>
        <img class="d-block w-100" src="assets\images\photoSlider5.jpg" alt="First slide">
        <div class="carousel-caption caption2 d-none d-md-block">
          <h4 class="animate__animated animate__zoomIn " style="animation-delay: 1s;"> <span>adapté</span> à votre métier</h4>
          <p class="animate__animated animate__zoomIn title" style="animation-delay: 1s;">L'objectif est de gerer votre flotte en temps reel</p>
          <p class="animate__animated animate__zoomIn" style="animation-delay: 1s;"><a class="btnn" href="#">plus de details</a> </p>
        </div>
        
      </div>
      <div class="carousel-item active">
        <div class="overlay-item"></div>
        <img class="d-block w-100" src="assets\images\photoSlider.jpg" alt="Second slide">
        <div class="carousel-caption caption2 d-none d-md-block ">
          <h4 class="animate__animated animate__zoomIn" style="animation-delay: 0.5s;"> <span>Suivez</span> en temps reel</h4>
          <p  class="animate__animated animate__zoomIn title" style="animation-delay: 0.5s;"> suivez vos vehicules en temps reel</p>
          <p class="animate__animated animate__zoomIn" style="animation-delay: 0.5s;"><a class="btnn" href="#">nos services</a> </p>
        </div>
      </div>
     
     
      
      <div class="carousel-item ">
        <div class="overlay-item"></div>
        <img class="d-block w-100" src="assets\images\photoSlider3.jpg" alt="Third slide">
        <div  class="carousel-caption caption2 d-none d-md-block">
          <h4 class="animate__animated animate__zoomIn" style="animation-delay: 1s;">Gestion de <span>carburant</span></h4>
          <p  class="animate__animated animate__zoomIn" style="animation-delay: 1s;"><a class="btnn" href="#">Demander un devis</a> </p> 
        </div>
      </div>
      
    </div>
    <ol class="carousel-indicators ">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
       
       
      </ol>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span> 
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!--Start of carousel-->
  <!-- start of services-->
  <section class="page-section text-center" id="services">
    <div >
      <h2 class="text-center">Services</h2>
  </div>
    <div class="container">
        
        <div class="row text-center">
            <div class="col-md-4">
              <i class="fas fa-map-marker-alt fa-9x " style=" background-color:  #fff; color: #ed1d24; padding: 12px; margin-bottom: 10px; cursor: pointer;"></i>
                <h4 class="my-3">Géolocalisation et gestion de flotte</h4>
                <p class="text-muted">Des solutions décisionnelles qui optimisent le pilotage opérationnel, 
                  administratif et financier des grandes entreprises pour en accroître le développement.</p>
            </div>
            <div class="col-md-4">
              <i class="fas fa-laptop fa-9x " style=" background-color:  #fff; color: #ed1d24; padding: 12px; margin-bottom: 10px;cursor: pointer;"></i>
                <h4 class="my-3">Solution web</h4>
                <p class="text-muted">Contrôle générale de votre parc avec des alertes
                   pour le gasoil, vidange, batterie, pneus, assurance...</p>
            </div>
            <div class="col-md-4">
              <i class="fas fa-mobile fa-9x " style=" background-color:  #fff; color: #ed1d24; padding: 12px; margin-bottom: 10px;cursor: pointer;"></i>
                <h4 class="my-3">solution mobile</h4>
                <p class="text-muted">Rapports et graphiques accessibles en temps réel facilitant la prise de décision pour
                   des bénéfices concrets et mesurables.</p>
            </div>
        </div>
    </div>
  </section>
  <!-- End of services-->

  <!--start of section about-->
    <div class="overview text-center">
      <div class="container">
        <div><h2 class="h1">Presentation de l'entreprise </h2></div>
        <P>Notre équipe hautement qualifiée et certifiée propose un ensemble de produits et services
           clés en main répondant aux besoins spécifiques de chaque client. Cette solution basée sur
            les coordonnées GPS et les transmissions GPRS nous a permis de se positionner sur le 
            marché parmi les leaders en installant notre système à des sociétés connues telles que Lydec,
           Nestlé, Oni, Hôpital Cheikh Zaid, Samu et les différentes assistances/dépannages...</P>
        <h4> nous serons ravis de collaborer avec vous</h4>
        <button routerLink="/geolocal">Decouvrir nos services</button>
      </div>
    </div>
  <!--end of section about-->
  <section class=" text-center">
    <div class="HowWork">
     <div class="container" >
       <div>
        <h2 class="text-center"> comment ça marche? </h2>
       </div>
       <div>
        <div class=" animated wow zoomIn">
          <img src="assets\images\howWorks4.png" alt=" photo metier1">
        </div>
       </div>
      
      
     </div>
   </div>
  </section>
<!--start of section join-->
   <section class="join text-center">
     <div class="shadow">
      <div class="container" >
        <h1 class="text-center">Demandez votre systeme de tarcking et suivez en temps reel vos véhicules </h1>
        <button routerLink="/contact">Demander demo</button>
      </div>
    </div>
   </section>
<!--end of section join-->

  <!--start of section about-->
  <!--
  <section class="about text-center">
  <div class="property gray-bg">
    <div class="container">
      <div class="row">
        
        <div class="col-lg-10 col-sm-10 wow fadeInRight alig animate__animated animate__bounceInLeft">
          <h1 class="animate__animated animate__bounceInLeft"  style="animation-delay: 3s;">
            Qui sommes-nous
          </h1>
          <hr>
          <p>
            <i class="fa fa-check fa-lg pr-10">
            </i>
            Créée en 2006, R.I.M Telecom avait comme activité au départ, le câblage réseau numérique avec les 3 opérateurs marocains pour basculer en 2008 vers les solutions M2M afin de permettre aux entreprises marocaines d'être de plus en plus réactives, de s'adapter à la concurrence et de répondre aux besoins du marché.
          </p>
          <p>
            <i class="fa fa-check fa-lg pr-10">
            </i>
             Notre équipe hautement qualifiée et certifiée propose un ensemble de produits et services clés en main répondant aux besoins spécifiques de chaque client.
  
    Cette solution basée sur les coordonnées GPS et les transmissions GPRS nous a permis de se positionner sur le marché parmi les leaders en installant notre système à des sociétés connues telles que Lydec, Nestlé, Oni, Hôpital Cheikh Zaid, Samu et les différentes assistances/dépannages...
          </p>
          <p>
            <i class="fa fa-check fa-lg pr-10">
            </i>
           Actuellement, nous sommes entrain de développer des solutions pareilles auprès de la gestion pour le domaine de l'agriculture et les ascenseurs.
          </p><p>
            <i class="fa fa-check fa-lg pr-10">
            </i>
           Se positionner comme étant leader ne suffit pas, notre objectif principal est de répondre aux besoins spécifiques pour chacun de nos clients avec un service meilleur.
          </p>
          <hr>
        </div>
      </div>
    </div>
  </div>
  </section>
  -->
   <!--start features-->
  <section class="features" >
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Fonctionnalités</h2>
      
  </div>
    <div class="container">
       
        <div class="row text-center">
            <div class="col-md-4 fonction">
              <i class="fas fa-map-marked-alt fa-3x rounded-circle" style=" background-color: #ed1d24; color: #fff; padding: 12px; margin-bottom: 10px;"></i>
                <h4 class="my-3">géolocalisation et gestion de flotte</h4>
                <p class="text-muted">Des solutions décisionnelles qui optimisent le pilotage opérationnel, 
                  administratif et financier des grandes entreprises pour en accroître le développement.</p>
            </div>
            <div class="col-md-4 fonction">
              <i class="far fa-clock fa-3x rounded-circle" style=" background-color: #ed1d24; color: #fff; padding: 12px; margin-bottom: 10px;"></i>
                <h4 class="my-3">Gestion de votre parc</h4>
                <p class="text-muted">Contrôle générale de votre parc avec des alertes
                   pour le gasoil, vidange, batterie, pneus, assurance...</p>
            </div>
            <div class="col-md-4 fonction">
              <i class="fas fa-bell fa-3x rounded-circle" style=" background-color: #ed1d24; color: #fff; padding: 12px; margin-bottom: 10px;"></i>
                <h4 class="my-3">Visualisation de votre Parc</h4>
                <p class="text-muted">Rapports et graphiques accessibles en temps réel facilitant la prise de décision pour
                   des bénéfices concrets et mesurables.</p>
            </div>
            <div class="col-md-4 fonction">
              <i class="fas fa-car fa-3x rounded-circle" style=" background-color: #ed1d24; color: #fff; padding: 12px; margin-bottom: 10px;"></i>
              <h4 class="my-3">Spécialiste en géolocalisation et gestion de flotte</h4>
              <p class="text-muted">Des solutions décisionnelles qui optimisent le pilotage opérationnel, 
                administratif et financier des grandes entreprises pour en accroître le développement.</p>
          </div>
          <div class="col-md-4 fonction">
            <i class="fas fa-gas-pump fa-3x rounded-circle" style=" background-color: #ed1d24; color: #fff; padding: 12px; margin-bottom: 10px;"></i>
              <h4 class="my-3">Gestion de votre parc</h4>
              <p class="text-muted">Contrôle générale de votre parc avec des alertes
                 pour le gasoil, vidange, batterie, pneus, assurance...</p>
          </div>
          <div class="col-md-4 fonction">
            <i class="fas fa-power-off fa-3x rounded-circle" style=" background-color: #ed1d24; color: #fff; padding: 12px; margin-bottom: 10px;"></i>
              <h4 class="my-3">Visualisation de votre Parc</h4>
              <p class="text-muted">Rapports et graphiques accessibles en temps réel facilitant la prise de décision pour
                 des bénéfices concrets et mesurables.</p>
          </div>
          <div class="col-md-4 fonction">
            <i class="fas fa-map-marker-alt fa-3x rounded-circle" style=" background-color: #ed1d24; color: #fff; padding: 12px; margin-bottom: 10px;"></i>
            <h4 class="my-3">Spécialiste en géolocalisation et gestion de flotte</h4>
            <p class="text-muted">Des solutions décisionnelles qui optimisent le pilotage opérationnel, 
              administratif et financier des grandes entreprises pour en accroître le développement.</p>
        </div>
        <div class="col-md-4 fonction">
          <i class="fas fa-cogs fa-3x rounded-circle" style=" background-color: #ed1d24; color: #fff; padding: 12px; margin-bottom: 10px;"></i>
            <h4 class="my-3">Gestion de votre parc</h4>
            <p class="text-muted">Contrôle générale de votre parc avec des alertes
               pour le gasoil, vidange, batterie, pneus, assurance...</p>
        </div>
        <div class="col-md-4 fonction">
          <i class="fas fa-tools fa-3x rounded-circle" style=" background-color: #ed1d24; color: #fff; padding: 12px; margin-bottom: 10px;"></i>
            <h4 class="my-3">Maintenace et suivi</h4>
            <p class="text-muted">Rapports et graphiques accessibles en temps réel facilitant la prise de décision pour
               des bénéfices concrets et mesurables.</p>
        </div>
        </div>
    </div>
  </section>
   <!--end features-->
    <!--start of plateforme-->
    <div class="plateforme">
   <div class="container">
  
    <div class="row text-center">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 animated wow zoomIn"  >
            <h3 class="my-3">Localiser vos véhicules</h3>
            <h5>RimTrack Web fonctionne sur n'importe quel appareil compatible
               Web et est livré avec une application mobile pour votre commodité.</h5>
            <p class="text-center"> Affichez la localisation en temps réel des personnes,
               des actifs et des véhicules en utilisant le site Web RimTrack sur PC et en 
               utilisant l'application RimTrack sur tablette et smartphone. L'abonnement au
                service RimTrack comprend un accès illimité au site et aux applications Apple 
                et Android. Les applications affichent l'emplacement en direct de vos actifs 24/7.
                 Il vous avertira
               par une notification push en cas de déclenchement d'une condition d'alerte prédéfinie.</p>
               <button routerLink="/plateformes">Voir plus</button>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 animated wow zoomIn"  >
          <img src="assets\images\plateforme.PNG" alt=" photo metier1">
      </div>
    </div>
    </div>
  </div>
     <!--end of plateforme-->
   <!-- start of section temoignage-->
   
  <!-- start of section temoignage-->
  <div class="temoignage">
    <div class="overlay"></div>
    <div class="container">
     <div id="temoignage1" class="carousel slide" data-ride="carousel">
       <ol class="carousel-indicators">
         <li data-target="#temoignage1" data-slide-to="0" class="active"></li>
         <li data-target="#temoignage1" data-slide-to="1"></li>
         <li data-target="#temoignage1" data-slide-to="2"></li>
       </ol>
       <div class="carousel-inner">
         <div class="carousel-item active">
          
           <div class="carousel-caption d-none d-md-block">
            <img src="assets\images\markZZ.jpg" alt="...">
             <h5>Mark Zuck</h5>
             <p>R.I.M Telecom est une société de service</p>
           </div>
         </div>
         <div class="carousel-item">
           
           <div class="carousel-caption d-none d-md-block">
            <img src="assets\images\sundarPichai.jpg" alt="...">
            <h5>Sundar Pichai</h5>
            <p>R.I.M Telecom est une société de service</p>
           
           </div>
         </div>
         <div class="carousel-item">
           
           <div class="carousel-caption d-none d-md-block text-center" >
            <img src="assets\images\billGates.jpg" alt="...">
            <h5>Bill gates</h5>
             <p>R.I.M Telecom est une société de service</p>
           </div>
         </div>
       </div>
       <a class="carousel-control-prev" href="#temoignage1" role="button" data-slide="prev">
         <span class="carousel-control-prev-icon" style="background-color: #ed1d24; padding: 10px;"  aria-hidden="true"></span>
         <span class="sr-only">Previous</span>
       </a>
       <a class="carousel-control-next" href="#temoignage1" role="button" data-slide="next">
         <span class="carousel-control-next-icon" style="background-color: #ed1d24; padding: 10px;" aria-hidden="true"></span>
         <span class="sr-only">Next</span>
       </a>
     </div>
    </div>
  </div>
<!-- end of section temoignag-->
<!-- end of section temoignag-->
   <!--satrt statics-->
      <div class="statistic text-center">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-lg-3 box">
              <i class="fa fa-user fa-fw fa-5x"> </i>
              <span class="number">624</span>
              <p>clients satisfaits</p>
            </div>
            <div class="col-sm-6 col-lg-3 box">
              <i class="fa fa-award fa-fw fa-5x"> </i>
              <span class="number">14 ans</span>
              <p>Expertise</p>
            </div>
            <div class="col-sm-6 col-lg-3 box">
              <i class="fa fa-handshake fa-fw fa-5x"> </i>
              <span class="number">624</span>
              <p>Partenaires</p>
            </div>
            <div class="col-sm-6 col-lg-3 box">
              <i class="fa fa-trophy fa-fw fa-5x"> </i>
              <span class="number">+624</span>
              <p>Boitier</p>
            </div>
          </div>
        </div>
      </div>
   <!--end statics-->
   
  <!-- start of section client-->
  <section class="client text-center">
    <div>
      <h2 class="text-center">Nos clients</h2>
     
    </div>
   <div class="conatainer" >
    <p class="text-center">Qui nous ont fait confiance</p>
     <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-3  "> <img src="assets\images\client1.png" class="d-block w-100" alt="..."></div>
            <div class="col-3 "> <img src="assets\images\client2.jpg" class="d-block w-100" alt="..."></div>
            <div class="col-3 "> <img src="assets\images\client3.jpg" class="d-block w-100" alt="..."></div>
            
          </div> 
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-3 "> <img src="assets\images\client4.jpg" class="d-block w-100" alt="..."></div>
            <div class="col-3 "> <img src="assets\images\client5.jpg" class="d-block w-100" alt="..."></div>
            <div class="col-3 "> <img src="assets\images\client6.gif" class="d-block w-100" alt="..."></div>
            
          </div> 
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-3 "> <img src="assets\images\client7.jpg" class="d-block w-100" alt="..."></div>
            <div class="col-3 "> <img src="assets\images\client8.jpg" class="d-block w-100" alt="..."></div>
            <div class="col-3 "> <img src="assets\images\client7.jpg" class="d-block w-100" alt="..."></div>
           
          </div> 
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  
   </div>
  </section>
  

          